@import "ol/ol.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bluelinkcolor {
  @apply underline 
    text-blue-600 
    hover:text-blue-800 
    /* visited:text-purple-600 */;
}

.bluelink_no_underline {
  @apply bluelinkcolor;
  text-decoration: none;
}

div.markdownlinkcolor > p > a {
  @apply underline 
    text-blue-600 
    hover:text-blue-800 
    /* visited:text-purple-600 */;
}

hr.blackline {
  border: 1px solid black;
  border-radius: 7px 7px 7px 7px;
}
